/*reset*/
body{
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    width: 1366px;
    height: 1701px;
    flex-direction: row-reverse;
    margin: 0 auto;
    background-color: white;
}
html{
    background-color: gray; /*TEMPORARIO/REMOVER*/
}
/*navbar*/
.nav-center{
    background-color: #FDF1EB;
    width: 1146px;
    height: 68px;
    display: block;
    align-items: center;
    float: right;

}
.nav-title{
    font-size: 22px;
}
.nav-p1, .nav-title, .nav-p2{
    color: #725C5C;
    justify-content: flex-start;
}
.nav-div a{
    display: flex;
    justify-content: flex-start;
}
.nav-p1, .nav-p2{
    font-size: 14px;
    line-height: 16px;
}
.nav-title{
    font-size: 22px;
    line-height: 26px;
}
.nav-div-input{
    width: 97px;
    height: 34px;
    left: 789px;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
}
.nav-div-input img{
    width: 22px;
    height: 21px;
}
.nav-div-profile{
    font-family: 'Quicksand', sans-serif;
    color:#333333;
    align-items: center;
}
.nav-div-profile img{
    width: 48px;
    height: 30px;
    margin-left: 5px;

}
.nav-div-profile-saudation{
    font-size: 14px;
    line-height: 17px;
}
.nav-div-profile-email{
    font-size: 12px;
    line-height: 15px;
}

/*aside-left*/
.aside-left{
    margin-right: 5px;
    width: 220px;
    height: 1701px;
    position: absolute;
}
.aside-left-bar{
    height: 536px;
}
.aside-left-header{
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
    width: 220px;
    height: 68px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.aside-left-header-title{
    font-size: 30px;
    line-height: 35px;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
}
.aside-left-bar a{
    display: flex;
    justify-content: flex-start;
    margin-left: 30px;
    align-content: stretch;
    align-items: center;
    height: 33px;
    font-family: 'Quicksand', sans-serif;
    list-style: none;
    text-decoration: none;
    color:#725C5C;
    margin-bottom: 5px;
}
.aside-left-trabalhos{
    background: #FDF1EB;
    
    flex-direction: row-reverse;
}
.aside-left-trabalhos-retangulo{
    width: 5px;
    height: 33px;
    background: linear-gradient(180deg, #FFB455 0%, #ED7839 100%);
    display: inline;
}

/*content*/
.content-title{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: #ED7839;
}
.content{
    float: right;
    word-wrap: normal;
}
.content-section-header{
    background: #FDF1EB;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px 3px 0px 0px;
    width: 1058px;
    height: 45px;
    font-family: Roboto;
    font-style: normal;
    font-size: 20px;
    line-height: 25px;
    color: #4E4E4E;
    font-weight: bold;
}
